main{
    width: Min(98%, 700px);
    min-height: 600px;
    border-radius: 10px;
    background-color: #F5F7FB;
    margin: 40px 0 75px 0;
    padding: 40px 75px;
    position: relative;
    @include flexbox;
}
// all styles for submit answers
button{
    border: none;
    width: 193px;
    height: 52px;
    color: #F5F7FB;
    font-size: 1rem;
    font-weight: 500;
    background-color: #4D5B9E;
    border-radius: 15px;
    cursor: pointer;
    &:active{
        box-shadow: inset 5px 5px 5px #16191b;
    }
}
// blob component
.blob-blue{
    background: url("../../public/assets/blob-blue.svg");
    background-position: bottom;
    left: 0;
    bottom: 0;
    @include blob;
    
}
.blob-yellow{
    @include blob;
    background: url("../../public/assets/blob-yellow.svg");
    background-position: top;
    right: 0;
    top: 0;
}
.blob-blue--small{
    @include blobSmall;
    width: 65px;
    height: 62px;
    background: url("../../public/assets/blob-small-blue.svg");
    background-position: bottom;
    left: 0;
    bottom: 0;
    
}
.blob-yellow--small{
    @include blobSmall;
    width: 126px;
    height: 131px;
    background: url("../../public/assets/blob-small-yellow.svg");
    background-position: top;
    right: 0;
    top: 0;
}

// Home component

.home{
    width: 25.75rem;
    height: 12.5rem;
   // border: 1px solid red;
    color: #293264;
    @include flexbox ($justify: space-evenly);
    flex-direction: column;
    h1{
        font-size: 1.9rem;
    }
    p{
        font-size: 1rem;
        font-weight: 400;
    }
    
}

// quizz component
.quizz{
    flex-direction: column;
    position: relative;
    z-index: 2;
}
aside{

    h1{
        color: #293264;
        font-weight: 700;
    }
    .container_answers{
        width: 100%;
        @include flexbox ($justify: space-between);
        //border: 1px solid red;
        .current_answers{
            min-width: 60px;
            text-align: center;
            padding: 3px 10px;
            border: 0.794239px solid #4D5B9E;
            border-radius: 8px;
            cursor: pointer;
            margin: 12px 7px 15px 7px;
            color: #293264;
            font-size: 0.7rem;
            font-weight: 500; 
        }
    }

    .border{
        width: 100%;
        height: 1px;
        border: 0.794239px solid #DBDEF0;
        transform: rotate(-0.05deg);
        margin-bottom: 15px;
    }
}

.container-button{
    width: 100%;
    @include flexbox;
}

// style for correct answer and fail answer

.correct_answer{
    background-color: #94D7A2;
    border-color: #94D7A2;
    min-width: 60px;
    text-align: center;
    padding: 3px 10px;
    border-radius: 8px;
    cursor: pointer;
    margin: 12px 0 15px 0;
    margin-inline: 7px;
    color: #293264;
    font-size: 0.7rem;
    font-weight: 500; 
}

// submit Component

.score{
    font-size: 1rem;
    color:#293264;;
    font-weight: 700;
    margin-right: 25px;
}
.opacity_answer{
    opacity: 0.5;
}

// setting support coffe
.coffee{
    width: 80%;
    font-size: 1.2rem;
    letter-spacing: 1.2px;
    color: #F5F7FB;
    background-color: #4D5B9E;
    border-radius: 20px;
    text-decoration: none;
    margin: 40px auto;
    font-family: 'Cookie', cursive;
    @include flexbox;
    svg{
        margin-left: 5px;
    }
}
// loading data 

.dots {
    width: 56px;
    height: 26.9px;
    background: radial-gradient(circle closest-side,#293264 90%,#0000) 0%   50%,
           radial-gradient(circle closest-side,#293264 90%,#0000) 50%  50%,
           radial-gradient(circle closest-side,#293264 90%,#0000) 100% 50%;
    background-size: calc(100%/3) 13.4px;
    background-repeat: no-repeat;
    animation: dots-7ar3yq 1s infinite linear;
 }
 
 @keyframes dots-7ar3yq {
    20% {
       background-position: 0%   0%, 50%  50%,100%  50%;
    }
 
    40% {
       background-position: 0% 100%, 50%   0%,100%  50%;
    }
 
    60% {
       background-position: 0%  50%, 50% 100%,100%   0%;
    }
 
    80% {
       background-position: 0%  50%, 50%  50%,100% 100%;
    }
 }

// all media device resize

@media screen and (max-width: 768px) {
    main{
        padding: 40px 10px;
    }
    .container_answers{
        flex-direction: column;
        margin: 10px 0;
    }
    aside .container_answers .current_answers{
        margin: 10px;
    }
    .coffee{
        padding: 10px;
        text-align: center;
    }
}